body {
background-color: #FFE4E1;
}

h1 {
color: #696969;font-family:"Lucida Console";    
font-size: 40px;font-weight: bold; 
}

p {
color: black;font-family:"Verdana"; font-size: 20px;font-weight: normal;
}