@import url(https://fonts.googleapis.com/css?family=Montserrat);

#wrapper {
	width:600px;
	margin: 0 auto;
}

h1 {
	font-family: 'Montserrat';
	font-weight: 2em;
	font-size: 3em;
}

#topnav a{
	font-family: 'Montserrat';
	font-size: 1.5em;
	font-weight: bold;
	float: right;
	color: #000;
	background-color: rgba(0,0,0,.1);
	text-decoration: none;
	padding: .5em;
	}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.mainpic {
	width: 80%;
	display: block;
	margin: auto;
}

h2 {
	font-family: 'Montserrat';
	font-weight: 1.5em;
	font-size: 2em;
}

.foodpic {
	width: 20%;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#first {
	float: left;
	width: 25%;
}

#second {
	float: middle;
	width: 25%;
}