@import url(https://fonts.googleapis.com/css?family=Chelsea+Market);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

body {
  background-color: #ECB028;
}

header {
	vertical-align: center;
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

 h1 {
 	font-family: 'Chelsea Market';
 	font-weight:50px;
 	font-size: 60px;
 	text-align: center;
 	color: #835C3B;
 	padding: 5px;
 	margin: .5em;
}

.girl{
	display: block;
	border-radius: 50%;
	position: relative;
	margin: auto;
	border: 3px solid #73AD21;
	padding: 10px;
}
nav{
	font-family: 'Chelsea Market';
 	font-weight:10px;
 	font-size: 20px;
 	text-align: center;
 	background-color:#E8C66A;
 	border: 1px black solid;
    padding: 20px;
}

#topnav a{
	font-size: 40px;
	font-weight: 100;
	font-family:'Amatic SC';
	color: #4E78A0;
	text-decoration: none;
	border: 1px black solid;
    padding: 20px;
    margin: 10px;
}

#two_column{
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left{
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

.deer{
	width:100%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

footer{
	background-color:#FF957E;
    border: 1px black solid;
    padding: 20px;	
}