@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  background: url("/Users/charleschan/Desktop/rolscqh.github.io/unit_3/images/mainsite.JPG");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;

}
h1 {
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  color: red;
}

hr {
  width: 500px;
}

p{
	text-align: left;
	font-size: 35px;
	font-weight: 200;
	background-color: rgba(0,0,0,.5);
	width: 600px;
}

h2 {
	font-size: 35px;
	font-weight: 200;
	text-align: left;
	background-color: rgba(0,0,0,.8);
	width: 500px;	
}