@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  background: url("../images/mainsite.JPG");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

#topnav a{
	font-size: 20px;
	font-weight: 100;
	float: right;
	color: #00FF00;
	background-color: rgba(0,0,0,.8);
	text-decoration: none;
	padding: 10px;
	margin: 15px;
}

h1 {
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  color: red;
  padding: 20px;
}

hr {
  width: 500px;
}

p{
	text-align: left;
	font-size: 35px;
	font-weight: 200;
	background-color: rgba(0,0,0,.5);
	width: 600px;
}

#buttons a {
	font-size: 35px;
	font-weight: 200;
	text-align: left;
	color: #fff;
	background-color: rgba(0,0,0,.8);
	text-decoration: none;
	padding: 10px;
	margin: 15px;
}